<script type='text/javascript'>
 $(function() {
   Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":2,"size_y":1},{"col":2,"row":2,"size_x":1,"size_y":1},{"col":3,"row":1,"size_x":2,"size_y":1},{"col":1,"row":2,"size_x":1,"size_y":1},{"col":3,"row":2,"size_x":2,"size_y":1}]')
 });
 </script>

<% content_for :title do %>IOTL Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">

      <div data-id="welcome" data-view="Text" data-title="Hello IOTL" data-text="This is your shiny new dashboard." data-moreinfo="Protip: You can drag the widgets around!">
      </div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="synergy" data-view="Meter" data-title="Tasks completed by me" data-height="200" data-width="200" data-min="0" data-max="100" ></div>
    </li>


<li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
  <div data-id="my-table" data-view="Table" data-title="Pending Tasks" data-moreinfo="More information about this table"></div>
</li>
    

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="valuation" data-view="Number" data-title="New Document Workflow" data-moreinfo="In billions" data-prefix="$"

      ></div>
    </li>

   
  </ul>
 
</div>
